body.kirkland {
  @apply font-['PT_Sans'];
  .btn-accent-1,
  .btn-accent-2 {
    @apply  text-white rounded font-bold transition duration-200 ;
    &:disabled {
      @apply pointer-events-none opacity-60;
    }
  }
  .btn-accent-1 {
    @apply bg-accent-1 hover:bg-accent-2;
  }
  .btn-accent-2 {
    @apply bg-accent-2 hover:bg-accent-1;
  }
}